body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  padding:30px;
}

textarea{
  width:400px;
  height:140px;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  margin-top:10px;
  padding:8px 14px;
  border-radius:8px;
  border:none;
  cursor:pointer;
}

#result{
  margin-top:15px;
  padding:10px;
  border:1px solid #4b5563;
  border-radius:8px;
}

