<!DOCTYPE html>
<html>
<head>
<title>CreatorShield AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>CreatorShield AI</h1>

<h3>Paste Suspicious Message</h3>
<textarea id="messageInput" placeholder="Paste message..."></textarea>
<button id="analyzeBtn">Analyze</button>

<h3>Upload Screenshot</h3>
<input type="file" id="imageInput">
<button id="imageBtn">Analyze Screenshot</button>

<h2>Result</h2>
<pre id="result"></pre>

<hr>

<h2>🆘 Emergency Recovery Guide</h2>
<button id="recoverBtn">Show Recovery Steps</button>
<ul id="recoverySteps"></ul>

<h4>Official Help</h4>
<a href="https://support.google.com/accounts/troubleshooter/2402620" target="_blank">Google</a><br>
<a href="https://help.instagram.com/368191326593075" target="_blank">Instagram</a><br>
<a href="https://support.google.com/youtube/answer/76187" target="_blank">YouTube</a><br>
<a href="https://www.linkedin.com/help/linkedin/answer/a521567" target="_blank">LinkedIn</a>

<script src="/static/script.js"></script>
</body>
</html>
