<!DOCTYPE html>
<html>
<head>
<title>CreatorShield AI</title>
</head>

<body>

<h1>CreatorShield AI</h1>

<h2>Text Scam Detector</h2>
<textarea id="messageInput" placeholder="Paste suspicious message..."></textarea>
<button id="analyzeBtn">Analyze</button>

<h3>Result</h3>
<pre id="result"></pre>


<hr>

<h2>Screenshot Scam Detector</h2>
<input type="file" id="imageInput">
<button id="analyzeImageBtn">Analyze Screenshot</button>

<h3>Image Result</h3>
<pre id="imgResult"></pre>


<script src="/static/script.js"></script>
</body>
</html>
